@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loader {to{transform: rotate(1turn)}}


:root{
  --primary-bg:#1C5E14;
  --primary-text:#BBDD88;
  --secondary-bg:#1C7C7C;
  --secondary-text:#264A84;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--primary-text);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-bg);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}
img{
  max-width: 300px;
  max-height:300px ;
  aspect-ratio: 1/1;
}

button{
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
button:hover{
  background-color: var(--primary-bg);
  color: var(--primary-text);
}
button:disabled:hover{
  background: grey;
  color: black;
  cursor: not-allowed;
}


